<div class="container">
    <h2>Donate Food</h2>

    <form method="POST">
        <input name="name" placeholder="Hotel / Event Name" required>

        <input type="number" name="quantity" placeholder="Food for how many people">

        <select name="type">
            <option>Veg</option>
            <option>Non-Veg</option>
        </select>

        <input name="location" placeholder="Google Maps Link">
        https://maps.google.com/?q=17.385044,78.486671


        <input type="datetime-local" name="expiry">

        <input name="contact" placeholder="Contact Number">

        <button>Submit Donation</button>
    </form>
 <script src="/static/script.js"></script>
</body>
</html>
